<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <alu-header></alu-header>

    <!-- Left side column. contains the logo and sidebar -->
    <alu-sidemenu></alu-sidemenu>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <alu-barranotificacao></alu-barranotificacao>

    <!-- Main Footer -->
    <alu-footer></alu-footer>

  </div>
  <!-- ./wrapper -->
  </body>
